/* General.js */
div {
    display: block;
}

h2 {
    text-align: center;
}

Form {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px 8px 0 0;
    border-width: .2rem .2rem 0;
    border: .2rem solid #ececec;
}

.forms {
    margin: 20px;
}

Form.Label {
    display: inline-block;
    margin-bottom: .5rem;
}

.buttons {
    text-align: right;
}

.error_msg {
    color: red;
}